<%= render '/events/basic_info', event: @season, event_name: 'festival' %>

<%= render '/events/publicity_text_and_team_members', event: @season %>

<hr>

<h3>Events</h3>
<% if @events.empty? %>
  <p>There are no events attached to this festival.</p>
<% else %>
  <div class="accordion seasons-accordion" id="accordion2">
    <% @events.each do |day, events_by_day|%>
    <p><h4><%= day %></h4><p>
    
      <% events_by_day.each do |event|%>
      <div class="accordion-group">
        <div class="accordion-heading clearfix">
          <% image = image_tag event.fetch_image.variant(thumb_variant) %>
          <%= link_to image, event, class: "pull-right thumbnail" %>

          <h4><%= link_to event.name, event %></h4>

          <div>
            <p>
              <% if event.start_date != event.end_date %>
                <b><%= event.date_range false %></b>
              <% end %>
            </p>

            <p><i><%= event.tagline %></i></p>
            
            <%= event.short_blurb %>

            <% if event.type == "Show" %>
              <%= xts_widget event.xts_id if event.xts_id %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render '/shared/gallery', pictures: @season.pictures %>

<%= render 'shared/video_link_gallery', video_links: @season.video_links.accessible_by(current_ability) %>

<%= render '/shared/show_actions', object: @season, index_link_params: { link_target: seasons_path } %>
