<%= simple_nested_form_for [:admin, @workshop] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= render 'admin/events/basic_form', f: f %>

    <%= render '/shared/form/sections/team_members', f: f %>
  </div>

  <%= render '/shared/form/form_actions', f: f %>
<% end %>
