<%= simple_nested_form_for(@staffing_template) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name %>

    <div class="well form-horizontal">
      <h3>Jobs</h3>
      <%= f.simple_fields_for :staffing_jobs %>

      <%= link_to_add f, :staffing_jobs %>
    </div>
  </div>

  <%= render '/shared/form/form_actions', f: f %>
<% end %>
