<h1><%= @title %></h1>

<%= display_block(@editable_block_name, true) %> 

<%= render '/events/search_form', url: @url %>

<table class="table">
    <tbody>
        <tr>
          <th>Name</th>
          <th>Dates</th>
          <th>Tagline</th>
          <% if can? :edit, Show %>
            <th></th>
          <% end %>
        </tr>

        <% @events.each do |event| %>
          <tr>
              <%= get_link event, :show, wrap_tag: 'td' %>

              <td><%= event.date_range true, :short %>
              <td><%= event.short_blurb %></td>

              <%= get_link event, :edit, wrap_tag: 'td' %>
          </tr>
        <% end %>
    </tbody>
</table>

<%= will_paginate(@events) %>

<%= (get_link @events.klass, :new) if @events.klass != Event %>
