<h1><%= @title %></h1>

<div>
  <%= @proposal.labels false %>
  <br>
  <br>
</div>

<div>
  <b>Call:</b>
  <div>
    <%= get_link @proposal.call, :show %>

    <p>
      <i>Submission Deadline:</i> <%= l @proposal.call.submission_deadline, format: :longy %>
      <br>
      <i>Editing Deadline:</i> <%= l @proposal.call.editing_deadline, format: :longy %>
    </p>
  </div>
</div>

<% fields = {
  publicity_text: render_markdown(@proposal.publicity_text),
  proposal_text: render_markdown(@proposal.proposal_text),
} %>

<%= render 'shared/basic_fields', fields: fields %>

<%= render '/shared/admin_show_team_members', team_members: @proposal.team_members, deadline: @proposal.call.editing_deadline, can_see_if_fellow_team_members_are_in_debt: true %>

<hr/>

<%= render '/shared/questions_and_answers', answers: @proposal.answers %>

<% if can?(:approve, @proposal) && @proposal.approved %>
  <p>You have to start editing the proposal to set whether or not it was successful.</p>
<% end %>

<% # You cannot use /shared/show_actions here. %>
<%= get_link @proposal, :edit, html_class: 'btn btn-primary' %>
<%= get_link @proposal, :convert, http_method: :put, additional_condition: @proposal.successful %>
<%= get_link Admin::Proposals::Proposal, :index, link_text: 'View Other Proposals', link_target: admin_proposals_call_proposals_path(@proposal.call), http_method: 'get' %>

<% if can?(:approve, @proposal) && @proposal.approved.nil? %>
    <br/>
    <br/>

    <% if @proposal.has_debtors %>
      <% confirm = "Approving #{ @proposal.show_title}" %>
      <% detail = "Warning: You are attempting to approve a show with debtors.\n Please type 'Ignoring Debt' to confirm" %>
      <% type_confirm = 'Ignoring Debt' %>
    <% end %>

    <%= get_link @proposal, :approve, confirm: confirm, detail: detail, type_confirm: type_confirm 
    %>
    
    <%= get_link @proposal, :reject %>
<% end %>
