<%= simple_nested_form_for(@questionnaire_template) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>

    <h3>Questions</h3>

    <%= f.simple_fields_for :questions %>

    <%= link_to_add f, :questions %>
  </div>

  <%= render '/shared/form/form_actions', f: f %>
<% end %>
