<h1><%= @title %></h1>

<table class="table">
  <tr>
    <th>Name</th>

    <% if can? :edit, Admin::Questionnaires::QuestionnaireTemplate %>
      <th></th>
    <% end %>
  </tr>

  <% @questionnaire_templates.each do |template| %>
    <tr>
      <%= get_link template, :show,  wrap_tag: 'td' %>

      <%= get_link template, :edit, wrap_tag: 'td' %>
    </tr>
  <% end %>
</table>

<%= get_link Admin::Questionnaires::QuestionnaireTemplate, :new %>
<%= get_link Admin::Questionnaires::Questionnaire, :index, link_text: 'Back to Questionnaires'%>