<h1><%= @title %></h1>

<%= render layout: '/shared/collapsible_section', locals: { title: 'Search Form' } do %>
    <% search_form_for @q, builder: SimpleForm::FormBuilder, url: :admin_attachments, html: { id: "search", class: "form-search" } do |f| %>
    <%= f.input_field :name_cont,              placeholder: "Name",  required: false %>

    <%= f.input_field :file_blob_filename_cont, placeholder: 'Filename',  required: false %>

    <% # If, for whatever reason, the symbol of this field changes, you also have to change the link generated in the attachment_tags_helper. %>
    <%= f.input_field :attachment_tags_id_eq, collection: AttachmentTag.accessible_by(current_ability) %>

    <br>
    <br>

  

    <% # TODO: Generic date thing which works for all types of attachments... TEST IT BEFORE CONTINUING %>
    <%#= f.input :start_date_gt, as: :date, label: "Start Date", start_year: 1890, end_year: max_end_year, include_blank: true, required: false %>
    <%#= f.input :end_date_lt,   as: :date, label: "End Date",   start_year: 1890, end_year: max_end_year, include_blank: true, required: false %>

    <%= f.submit :Search, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<p>
  Sort By: 
  <% fields = %i[name start_date end_date] %>
  <% fields.each_with_index do |field, i| %>
    <%= sort_link(@q, field) %>
    <% if i < fields.length - 1 %>
    -
    <% end %>
  <% end %>
</p>

<%= render 'shared/attachments_gallery', attachments: @attachments, include_item_link: true, include_header: false %>

<%= will_paginate(@attachments) %>
