<%= javascript_include_tag 'name_to_slug.js' %>
<% # Requires the name to be called event_name and the slug to be called event_slug %>

<%= simple_form_for [:admin, @news] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, input_html: { id: 'event_name' } %>

    <%= render "/shared/form/md_editor", f: f, field: :body, rows: 12, show_hint: true %>

    <%= f.input :slug, input_html: { id: 'event_slug' } %>

    <%= f.input :publish_date %>

    <%= render '/shared/form/public_private_switch', f: f, field_symbol: :show_public %>

    <%= render 'shared/form/file_field', f: f, field_name: :image %>
  </div>

  <%= render '/shared/form/form_actions', f: f %>
<% end %>
