Dear <%= @user.first_name %>,

You have been added as <%= @team_member.position %> to the proposal "<%= @proposal.show_title %>".

<% if @new %>
The proposal was submitted by <%= @updater.name %>.
<% else %>
You have been added by <%= @updater.name %>.
<% end %>

You can view the proposal by visiting <%= admin_proposals_proposal_url(@proposal) %>

Regards,

The Bedlam Theatre Committee