<% @hide_alert = true %>
<% @hide_cookie_notice = true %>

<% content_for :head do %>
  <%= stylesheet_link_tag "login", :media => "all" %>
<% end %>

<div class="container">
  <div id="login_form" class="row">
    <div class="span4 offset4">
      <h2>Forgot your password?</h2>

      <hr />

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="">
    <%= button_tag(type: 'submit', class: "btn") do %>
      <i class="fa fa-ok" aria-hidden=”true”></i> Reset Password
    <% end %>
    <%#= render "devise/shared/links" %>
  </div>
<% end %>


</div>
</div>
</div>