<% id = "#{title.to_url}_container" %>
<% start_open = false if start_open.nil? %>

<div class="row">
  <div class="span12">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#<%= id %>">
          <i class="fa fa-chevron-down" aria-hidden=”true”></i> <%= title %>
        </a>
      </div>
      <div id="<%= id %>" class="accordion-body collapse<%= ' in ' if start_open%>">
        <div class="accordion-inner">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>