<h1><%= @title %></h1>

<% if @url.present? %>
  <%= render '/events/search_form', url: @url %>
<% end %>

<div class="row">
  <div class="span12">

    <hr />

    <% @events.each do |event| %>
      <article class="media">
        <% image = image_tag event.fetch_image.variant(thumb_variant), class: "media-object" %>
        <%= link_to image, event, class: "pull-left thumbnail" %>
        <div class="media-body">
          <header class="media-heading">
            <h4 class="media-heading"><%= link_to event.name, event %></h4>
          </header>  
          <p><span class="date"><%= event.date_range true %></span></p>
          <p><%= event.short_blurb %></p>
          <p><%= link_to 'View Details', event %></p>
        </div>
      </article>

      <hr />

    <% end %>

    <%= will_paginate(@events) %>
  </div>
</div>