<h1><%= @title %></h1>

<%= display_block("Opportunities (Members Face)", true) %>

<br />
<br />

<table class="table">
  <tr>
    <th>Title</th>
    <th>Creator</th>
    <th>Expiry Date</th>

    <th>Approved</th>
  	
    <% # The column with the edit button is always visible, because it is very irregular who can edit opportunities. %>
    <th></th>
  </tr>

<% @opportunities.each do |opportunity| %>
  <tr <%= opportunity.css_class if can?(:manage, Opportunity) %>>
    <%= get_link opportunity, :show, wrap_tag: 'td' %>

    <td><%= user_link opportunity.creator, false %></td>
    
    <td><%= l opportunity.expiry_date, format: :longy %></td>

    <td>
      <%= bool_icon opportunity.approved %>
    </td>

    <td>
      <%= get_link opportunity, :edit %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate(@opportunities) %>

<br />

<%= get_link Opportunity, :new %>
<% if can? :approve, Opportunity %>
  <br />
  <br />
  <p>You can approve or reject an opportunity by viewing the details.</p>
<% end %>