<% error_header = "I'm sorry #{current_user.present? ? current_user.first_name : ""}, I can't let you do that." %>

<%= render '/errors/template', error_header: error_header do %>
<br>
  <% if current_user.present? %>
    <% if current_user.has_role?(:member) %>
      <p>
        If you've recently renewed your membership, you might need to <%= link_to "log out", destroy_user_session_path, method: :delete %> and log back in again to regain access to members only pages.
      </p>
    <% else %>
      <p>
        You are not a member at the moment, which might cause this error. 
        <% if current_user.membership_activation_tokens.empty? %>
          <b>Please buy membership on the EUSA website</b> and email the secretary at <a href="mailto:secretary@bedlamtheatre.co.uk">secretary@bedlamtheatre.co.uk</a> afterwards to ask if they can (re)activate your membership.
        <% else %>
          <b>You can activate your membership by clicking <%= link_to('here', activate_membership_activation_token_url(current_user.membership_activation_tokens.last)) %>.</b> Please email the secretary at <a href="mailto:secretary@bedlamtheatre.co.uk">secretary@bedlamtheatre.co.uk</a> if you have any trouble.
        <% end %>
      </p>
    <% end %>
  <% end %>

  <br>

  <p>
    If you think you have been sent here by mistake, please contact the IT Subcommittee at <%= mail_to @support_email, @support_email %>.
  </p>

  <p>
    HAL is Watching.
  </p>
<% end %>
