<% wrap_tags = true if wrap_tags.nil? %>
<% include_index = true if include_index.nil? %>
<% if wrap_tags %>
  <div class="form-actions">
<% end %>

<% # There are some form actions, mainly in proposals, that don't use these. %>
<% # Please check if they need manual updates. They have been tagged with /shared/form/form_actions %>
<%= f.button :submit, class: "btn btn-primary" %>
<%= get_link f.object, :show, link_text: 'View', html_class: 'btn', additional_condition: f.object.persisted?, return_link_text_if_no_permission: false %>
<%= get_link(f.object.class, :index) if include_index %>

<% if wrap_tags %>
  </div>
<% end %>