<%= simple_form_for [:admin, @user] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <fieldset class="fieldset form-horizontal">
      <legend>User Details</legend>

      <%= f.input :email %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :phone_number %>

      <% hint = "Leave blank to generate random password" if @user.new_record? %>

      <%= f.input :password, hint: hint %>
      <%= f.input :password_confirmation %>

      <% if can? :assign_roles, @user %>
        <%= f.association :roles, as: :check_boxes %>
      <% end %>
    </fieldset>

    <fieldset class="fieldset">
      <legend>Public Profile</legend>
      
      <%= render '/shared/form/public_private_switch', f: f, field_symbol: :public_profile %>

      <%= render 'shared/form/file_field', f: f, field_name: :avatar, hint: 'Try to keep the image as square as possible.' %>

      <%= render "/shared/form/md_editor", f: f, field: :bio, rows: 12, show_hint: true %>
    </fieldset>
  </div>

  <%= render '/shared/form/form_actions', f: f %>
<% end %>