<%= render '/events/basic_info', event: @show, event_name: 'show' %>

<%= render '/events/publicity_text_and_team_members', event: @show %>

<%= render '/shows/reviews', reviews: @show.reviews %>

<%= render '/shared/gallery', pictures: @show.pictures %>

<%= render 'shared/video_link_gallery', video_links: @show.video_links.accessible_by(current_ability) %>

<%= render '/shared/show_actions', object: @show, index_link_params: { link_target: archives_shows_path } %>
