<%= javascript_include_tag "admin/staffings.js" %>

<h1><%= @title %></h1>

<%= display_block("Staffing", true) %>

<% if @staffings.empty? %>
  <p>No staffing slots have been found for this url.</p>
<% else %>
  <%= render 'phone_number_warning' %>

  <table class="table table-hover" style="table-layout: fixed;">
    <thead>
      <tr>
        <th style="width: 160px;">Date</th>

        <% @job_titles.each do |title| %>
          <th><%= title %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @staffings_hash.each do |staffing_hash| %>
        <tr>
          <td>
            <%= link_to staffing_hash[:staffing] do %>
              <%= time_range_string(staffing_hash[:start_time], staffing_hash[:end_time], false) %>
            <% end %>
          </td>

          <% @job_titles.each do |title| %>
            <td>
              <% job = staffing_hash[:jobs][title] %>

              <% if job %>
                <% user = job.user %>

                <% if user.present? %>
                  <%= user_link(user, false) %>
                <% elsif @can_sign_up %>
                  <%= render 'sign_up_button', job: job %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= get_link Admin::Staffing, :index %>